@import '../../../mixins.scss';

.heading {
    padding-top: 14%;
    @include md{
        padding-top: 15% !important;
        line-height: 44px !important;
    }
}

.description {
    padding-top: 11%;

    line-height: 2.1;
    text-align: left;
    @include md{
        padding-top: 0% !important;
       
    }

}

.text-orange {
    color: $primary;
   
}
.text-pink{
    color:#ec1d3f
}
.text-blue{
    color: rgb(105, 19, 185);
}