@import '../../mixins.scss';

.navbar {
    background: transparent;
    color: $dark;

    @include lg {
        background-color: $blue-dark !important;
        color: $white;
    }
}



.toggle-button {
    display: none;

    @include lg {
        display: block;
    }
}
.show{
    display: block !important;
}
.hide {
    display: none !important;
}
.responsive {
 @include lg{
        position: absolute;
        flex-direction: column !important;
        text-align: center;
        margin-top: 17%;
        width: 100%;
        background: $blue-dark;
        border-top: 1px solid silver;
        margin-top: 11rem;
        left: 0;
        
    }
  
}
