@import '../../mixins.scss';

.space-around{
    justify-content: space-around;
    padding: 15px !important;
    @include lg{
    background-color: $blue-dark;
    color: $white;
    }
}
.align-center{
    display: flex !important;
    align-items: center !important;
}
.nav-menu{
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 0;
    @include lg{
        display: none;
        position: absolute;
        background-color: #054d78;
        width: 100%;
        z-index: 9;
        left: 0;
        margin-top: 2.2rem;
        text-align: center;
    }
    .nav-items{
        margin-right: 2rem;
        font-weight: 400;
      
    }
}
.bar-btn{
    display: none;
    @include lg{
        display: block;
    }
}
.show{
    display: block;
}